.webcomic.layout {
    &-grid {
        --cols: #{$columns};
        --rows: #{$rows};
        display: grid;
        place-items: center;
        grid-template-columns: repeat(var(--cols), 1fr);
        grid-template-rows:  repeat(var(--rows), 1fr);
        column-gap: $vertical-gutter;
        row-gap: $horizontal-gutter;
        margin: 0;
        
        @for $i from 1 through 5 {
            *.cols-#{$i} {
                grid-row-start: span #{$i};
            }

            *.rows-#{$i} {
                grid-column-start: span #{$i};
            }

            &.cols-#{$i} {
                --cols: #{$i};
            }
    
            &.rows-#{$i} {
                --rows: #{$i};
            }
        }
    }

    &-flex {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-content: flex-start;
        margin: 0;

        * {
            flex-grow: 1;
            margin: ($horizontal-gutter / 2) ($vertical-gutter / 2);
        }
    }
}

.fullscreen {
    width: 100vw;
    height: 100vh;
}
