.panel {
    width: var(--panel-width);
    height: var(--panel-height);
    display: flex;
    align-items: center;
    justify-content: center;

    * {
        margin: 0;
    }

    img {
        width: 100%;
    }

    &.border, & .border {
        &-solid {
            box-sizing: border-box;
            border: solid $black var(--border);
        }
    }

    &.style {
        &-caption {
            background-color: $yellow;
        }
    }
}
