.panel {
    width: $panel-width;
    height: $panel-height;
    display: flex;
    align-items: center;
    justify-content: center;

    * {
        margin: 0;
    }

    &.border, & .border {
        &-solid {
            box-sizing: border-box;
            border: solid $black $border;
        }
    }

    &.style {
        &-caption {
            background-color: $yellow;
        }
    }
}
