@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes slide-left {
    0% {
         margin-left: -$panel-width;
         opacity: 0;
        }
    100% {margin-left: 0;
        opacity: 1; }
}
