$black: #000;
$white: #fff;
$gray: #c2c2c2;
$yellow: #f1cd2c;

$staggering: 2vw;
$border: 2px;
$vertical-gutter: 15px;
$horizontal-gutter: 10px;
$panel-height: 30vh;
$panel-width: 30vw;
$rows: 3;
$columns: 3; 
